<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #9b9b9b;
        overflow: hidden; 
    }

    #welcomeMessage {
        font-size: 5vw; 
        color: #2c2c2c;
        text-align: center;
        margin: 0; 
        background-color: #c2c2c2;
        border: #2c2c2c 5px solid;
        border-radius: 20px;
        padding: 20px;
        max-width: 90%;
        box-sizing: border-box; 
        overflow: hidden; 
    }
    </style>
</head>
<body>
    <h1 id="welcomeMessage">Welcome, <%-name%>!</h1>
</body>
</html>